<!DOCTYPE html>
<html>
<head>
  <title>Bulma Webpage</title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css">
  <link rel="stylesheet" href="../static/css/styling.css">
  <script src="https://cdn.jsdelivr.net/npm/chart.js@3.5.1"></script>
  <script src="/static/js/BarChart.js"></script> <!-- Add the script file -->
</head>
<body>
  <header>
    <h1 class="title">New Zealand Earthquake Dashboard <small class="subtitle is-muted">- Project 3</small></h1>
  </header>

  <nav class="navbar is-light">
    <ul class="navbar-menu">
      <li class="navbar-item">
        <a class="navbar-link" href="/map-tab">Map View</a>
      </li>
      <li class="navbar-item">
        <a class="navbar-link" href="BarChartTab.html">Bar Chart</a>
      </li>
      <li class="navbar-item">
        <a class="navbar-link" href="#">Link 3</a>
      </li> 
    </ul>
  </nav>

  <div class="container">
    <div class="columns is-centered is-vcentered">
      <!-- <div class="column is-half">
        <div class="card">
          <div class="card-content">
            <h5 class="title is-5">Locations</h5>
            <p class="content">Map</p>
          </div>
        </div>
      </div> -->
      <div class="column is-half">
        <div class="columns">
          <div class="column">
            <div class="card">
              <div class="card-content">
                <h5 class="title is-5">Quakes by Magnitude and locality over time</h5>
                <p class="content">Please Apply the Filter to Visualise</p>
                <div>
                  <canvas id="barChartCanvas"></canvas>
                  <div class="field">
                    <label class="label" for="startDate">Start Date:</label>
                    <div class="control">
                      <input type="date" id="startDate" class="input" placeholder="Start Date">                         
                    </div>
                  </div>
                  <div class="field">
                    <label class="label" for="endDate">End Date:</label>
                    <div class="control">
                      <input type="date" id="endDate" class="input" placeholder="End Date">
                    </div>
                  </div>
                  <div class="field">
                    <div class="control">
                      <button id="filterButton" class="button is-primary">Apply Filter</button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        <!-- <div class="row h-50">
          <div class="col-sm-12 quadrant">
